body {
	background-color: #151515;
	color: #eeeeee;
	font-family: 'Share Tech Mono', monospace;
	font-size: 20px;
}
.hide{
	display: none;
}
div {
	font-size: 20px;
	margin-top: 2em;
	margin-left: 1em;
	margin-right: 1em;
}
p {
	font-size: 20px;
}
span {
	font-size: 25px;
}
a {
	margin-top: 10em;
}

@media only screen and (max-width: 768px) {
	div {
	font-size: 30px;
	margin-top: 2em;
	margin-left: 1em;
	margin-right: 1em;
	}
	p {
		font-size: 30px;
	}
	span {
		font-size: 40px;
	}
}